
ion-label{
  font-weight: 600;
}

.home-display{
position: relative;
  color: white;
}

h1{
  margin-top: 0px;
}
.weather-widget img {
  width: 50px;
  height: 50px;
  vertical-align: bottom;
}
.size-temp{
  font-size: 38px;
}
hr {
  padding: 0;
  background-color: #FFF;
  border: 0;
}
.bold_text{
  font-weight: 600;
}
ion-header{
  z-index: 200;
}

ion-content{
  --background: #fff url('/assets/images/sky1.jpg') no-repeat center center / cover;
}
ion-tabs{
  height: 352px;
}