<ion-header translucent>
  <ion-toolbar>
    <ion-title>Bienvenue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button  (click)="Login()">
          <ion-icon name="log-in"></ion-icon>
          <ion-label>Login</ion-label>
        </ion-tab-button>
        
  
      <ion-tab-button (click)="Register()">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Register</ion-label>
      </ion-tab-button>
  
      <ion-tab-button>
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Information</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
