<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-icon size="large" name="navigate-outline" (click)="getLocation()"></ion-icon>
    </ion-buttons>
    <ion-title color="primary" class="ion-text-center">My Méteo</ion-title>
  </ion-toolbar>
</ion-header>
    
<div style="width: 100%;height: 500%; overflow-y: auto">
<ion-content fullscreen class="ion-padding">  
  <ion-grid class="home-display">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h1 size="default">{{data?.name}}</h1>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="12" size-lg="12" size-xs="12">
        <div class="ion-text-center">
          <h1>{{data?.weather[0].description | titlecase}}</h1>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="12" size-lg="12" size-xs="12">
        <div class="ion-text-center  weather-widget">
          <h1><img src="/assets/images/{{data?.weather[0].icon}}.png"/><span class="size-temp">{{data?.main.temp}}°</span></h1>
        </div>
      </ion-col>
    </ion-row>
    
    <hr class="">
    <ion-row>
      <ion-col>
        <ion-text color="light">
          <h4 class="bold_text">Aujourd'hui</h4>
        </ion-text>
          <h5>La templérature maximale est de: {{data?.main.temp_max}}°. La température minimale est de:{{data?.main.temp_min}}° </h5>
      </ion-col>
    </ion-row>
    <hr class="">
    <ion-row>
      <ion-col size-md="6" size-lg="6" size-xs="6">
          <h5>LEVÉ  </h5>
          <h4 class="bold_text">{{data?.sys.sunrise * 1000 | date: 'hh:mm'}}</h4>
      </ion-col>
      <ion-col size-md="6" size-lg="6" size-xs="6">
        <h5>COUCHÉ </h5>
        <h4 class="bold_text">{{data?.sys.sunset * 1000 | date: 'hh:mm'}}</h4>
    </ion-col>
    </ion-row>

    <hr class="">
    <ion-row>
      <ion-col size-md="6" size-lg="6" size-xs="6">
          <h5> HUMIDITÉ  </h5>
          <h4 class="bold_text">{{data?.main.humidity}} %</h4>
      </ion-col>
      <ion-col size-md="6" size-lg="6" size-xs="6">
        <h5>RESSENTI </h5>
        <h4 class="bold_text">{{data?.main.feels_like}}°</h4>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" size-lg="6" size-xs="6">
          <h5> VISIBILITÉ  </h5>
          <h4 class="bold_text">{{data?.visibility/1000}} Km</h4>
      </ion-col>
      <ion-col size-md="6" size-lg="6" size-xs="6">
        <h5>PRESSION </h5>
        <h4 class="bold_text">{{data?.main.pressure}} hPa</h4>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" size-lg="6" size-xs="6">
          <h5> VENT  </h5>
          <h4 class="bold_text">{{data?.wind.speed * 3.6}} Km</h4>
      </ion-col>
      <ion-col size-md="6" size-lg="6" size-xs="6">
        <h5>NUAGES </h5>
        <h4 class="bold_text">{{data?.clouds.all}} %</h4>
    </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
</div>
<ion-tabs class="home-display">
  <ion-tab-bar slot="bottom">
    <ion-tab-button  (click)="Login()">
      <ion-icon name="log-in"></ion-icon>
      <ion-label color="dark">Login</ion-label>
    </ion-tab-button>       

    <ion-tab-button (click)="Register()">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label color="dark">Register</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label color="dark">Information</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

